body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: #ab0c49;
}

button {
    padding: 10px 20px;
    background-color: #01080c;
    border: none;
    color: white;
    cursor: pointer;
}
